<a href="https://colab.research.google.com/github/Emmanuelmitra/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Pandas*

Pandas is the most popular python library that is used for data analysis. It provides highly optimized performance with back-end source code is purely written in C or Python. We can analyze data in pandas with: Series.

In [3]:
import pandas as pd

In [8]:
#how to create Series?
l=[1,2,3,4,5,6]
pd.Series(l,index=['a','b','c','d','e','f'])

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [13]:
t=(1,2,3)
s=pd.Series(t,index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [16]:
#how to create Dataframe

In [22]:
# creating dataframe with one column
l=[1,2,3,4]
pd.DataFrame(l,columns=['sno'])

   sno
0    1
1    2
2    3
3    4

In [24]:
#creating dataframe with multiple columns
df=pd.DataFrame({'name':['emmanuel','simon','hero'],'class':[1,2,3],'marks':[22,23,44]})
df.head()

       name  class  marks
0  emmanuel      1     22
1     simon      2     23
2      hero      3     44

In [27]:
#how to add new columns to dataframe?
df['lang']=pd.DataFrame(['english','hindi','kannada'])
df.head()

       name  class  marks     lang
0  emmanuel      1     22  english
1     simon      2     23    hindi
2      hero      3     44  kannada

In [29]:
#how to change values of dataframe
df['marks']=pd.DataFrame([44,55,66])
df.head()

       name  class  marks     lang
0  emmanuel      1     44  english
1     simon      2     55    hindi
2      hero      3     66  kannada

In [31]:
df['class']=pd.DataFrame([9,10,8])
df.head()

       name  class  marks     lang
0  emmanuel      9     44  english
1     simon     10     55    hindi
2      hero      8     66  kannada

In [36]:
#how to sort values of column in dataframe
df.sort_values(by='class')

       name  class  marks     lang
2      hero      8     66  kannada
0  emmanuel      9     44  english
1     simon     10     55    hindi

In [37]:
df.sort_values(by='marks')

       name  class  marks     lang
0  emmanuel      9     44  english
1     simon     10     55    hindi
2      hero      8     66  kannada

In [40]:
#how to use groupby on column
df.groupby('lang').sum()

         class  marks
lang
english      9     44
hindi       10     55
kannada      8     66

In [50]:
df.groupby('name').sum()

          class  marks
name
emmanuel      9     44
hero          8     66
simon        10     55

In [52]:
# # groupby can also be used like this 
# df.groupby('name').mean()
# df.groupby('name').median()
# df.groupby('name').mode()

In [55]:
#groupby with multiple columns
df.groupby(['name','marks']).sum()
# can also be used .mean(),.median(),.mode()

                class
name     marks
emmanuel 44         9
hero     66         8
simon    55        10

In [60]:
# Converting the raw grades to a categorical data type:
df.marks.astype('float')

0    44.0
1    55.0
2    66.0
Name: marks, dtype: float64

In [61]:
df.marks.astype('int')

0    44
1    55
2    66
Name: marks, dtype: int64

In [63]:
df.marks.astype('category')

0    44
1    55
2    66
Name: marks, dtype: category
Categories (3, int64): [44, 55, 66]

In [64]:
# merging two columns

In [68]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [69]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [67]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [79]:
df1=pd.DataFrame({'name':['emmanuel','simon','superman','krish'],'rollno':[1,2,3,4],'marks':[10,20,0,40]})
df1

       name  rollno  marks
0  emmanuel       1     10
1     simon       2     20
2  superman       3      0
3     krish       4     40

In [80]:
df2=pd.DataFrame({'name':['emmanuel','simon','superman','krish'],'rollno':[1,2,3,4],'marks':[100,200,00,400]})
df2

       name  rollno  marks
0  emmanuel       1    100
1     simon       2    200
2  superman       3      0
3     krish       4    400

In [90]:
pd.merge(df1,df2,on='rollno')

     name_x  rollno  marks_x    name_y  marks_y
0  emmanuel       1       10  emmanuel      100
1     simon       2       20     simon      200
2  superman       3        0  superman        0
3     krish       4       40     krish      400

In [91]:
#how to use .apply on dataframe

In [92]:
df1

       name  rollno  marks
0  emmanuel       1     10
1     simon       2     20
2  superman       3      0
3     krish       4     40

In [95]:
f=lambda x: x.max()

In [97]:
df1.apply(f)

name      superman
rollno           4
marks           40
dtype: object

In [102]:
df1

       name  rollno  marks
0  emmanuel       1     10
1     simon       2     20
2  superman       3      0
3     krish       4     40

In [106]:
f=lambda x: x.mean()
df1.iloc[:,1:].apply(f)

rollno     2.5
marks     17.5
dtype: float64